#team {
  position: relative;
}

.team {
  .row > div {
    @include even() {
      margin-top: 60px;

      @include breakpoint($breakpoint-tablet-large) {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__margin {
    margin-bottom: 650px;

    @include breakpoint($breakpoint-computer) {
      margin-bottom: 500px;
    }

    @include breakpoint($breakpoint-tablet-large) {
      margin-bottom: 0;
    }
  }

  &__background {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    transform: translateY(-50%);

    pointer-events: none;

    @include breakpoint($breakpoint-tablet-large) {
      display: none;
    }
  }

  &__join {
    margin-top: 80px;
  }
}
