.authors {
  margin-top: 55px;

  &__item {
    margin-top: 80px;

    @include breakpoint($breakpoint-mobile-large) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: $font-size-10;

    @include breakpoint($breakpoint-computer) {
      margin-bottom: 15px;
      font-size: $font-size-12;
    }
  }

  &__name {
    font-family: Raleway, sans-serif;
    font-size: $font-size-8;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-11;
    }
  }
}
