.authors {
  margin-top: 55px;

  &__item {
    margin-top: 80px;

    @include breakpoint($breakpoint-mobile-large) {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: $font-size-10;

    @include breakpoint($breakpoint-computer) {
      margin-bottom: 15px;
      font-size: $font-size-12;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-10;
    }
  }

  &__name {
    font-family: Raleway, sans-serif;
    font-size: $font-size-8;

    line-height: 40px;

    @include breakpoint($breakpoint-computer) {
      margin-bottom: 15px;

      font-size: $font-size-10;
      line-height: 34px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-8;
      line-height: 40px;
    }
  }
}
