#case {
  .section__description {
    margin-bottom: 75px;
  }

  .hero .section__description {
    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 200px;
    }
  }

  .hero__button {
    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
