.task {
  &__video iframe {
    width: 100%;
    height: 725px;

    @include breakpoint($breakpoint-computer) {
      height: 535px;
    }

    @include breakpoint($breakpoint-tablet-large) {
      height: 365px;
    }
  }

  &__picture {
    position: relative;
    overflow: hidden;
    border-radius: 32px;

    @include breakpoint($breakpoint-tablet-large) {
      border-radius: 24px;
    }

    &--gradient {
      height: 670px;
      border-radius: 0;

      @include breakpoint($breakpoint-computer) {
        height: 535px;
      }

      @include breakpoint($breakpoint-tablet-large) {
        height: 405px;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;

        width: 100%;
        height: 80px;
      }

      &::before {
        top: 0;
        background: linear-gradient(180deg, #09090a 0%, rgba(0, 0, 0, 0) 100%);
      }

      &::after {
        bottom: 0;
        background: linear-gradient(0deg, #09090a 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
