/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar__bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar__contoller;
  border-radius: 50px;

  transition: all 0.15s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar__contoller--hover;
}
