// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;

  border-bottom: 1px solid #2e2e2f;
  padding: 25px 0;

  background-color: $palette-black;

  @include breakpoint($breakpoint-computer) {
    padding: 20px 0;
  }
}

.header {
  @include flex();

  &__logo {
    max-width: 160px;
    margin-right: 90px;

    transition: opacity 0.15s ease;

    @include breakpoint($breakpoint-computer) {
      max-width: 130px;
      margin-right: 55px;
    }

    @include breakpoint($breakpoint-laptop) {
      max-width: 100px;
      margin-right: 45px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__nav {
    @include breakpoint($breakpoint-tablet-large) {
      display: none;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: 25px;

    text-align: right;

    @include breakpoint($breakpoint-tablet-large) {
      display: none;
    }
  }

  &__link {
    color: $text-gray;

    font-size: $font-size-10;
    font-weight: $weight-medium;

    transition: color 0.15s ease;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-12;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-13;
    }

    &:hover {
      color: $text-white;
    }
  }

  &__copy {
    position: relative;
  }

  &__tooltip {
    position: absolute;
    top: 40px;
    left: 50%;

    transform: translateX(-50%);
  }

  &__action {
    @include breakpoint($breakpoint-tablet-large) {
      display: none;
    }
  }
}
