// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  color: $text-white;
  font-family: Inter, sans-serif;
}

p {
  line-height: 140%;
}

h1, h2, h3 {
  font-family: Raleway, sans-serif;
  font-weight: $weight-black;
}
