.preloader {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #0b0b0b;

  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;

  &--hide {
    opacity: 0;
    visibility: hidden;
  }

  &__wrapper {
    @include flex($justify: center);

    position: relative;

    height: 100%;
  }

  &__spinner {
  }

  &__logo {
    position: absolute;
    z-index: 555;
    top: 50%;
    left: 50%;

    width: 450px;

    transform: translate(-50%, -50%);

    @include breakpoint($breakpoint-tablet) {
      width: 300px;
    }

    img {
      width: 100%;
    }
  }
}
