.portfolio {
  &__color {
    &--red {
      border-color: #da2e2b;
    }

    &--purple {
      border-color: #9127fc;
    }

    &--pink {
      border-color: #cc1aaa;
    }

    &--orange {
      border-color: #ff4d05;
    }
  }
}
