.portfolio-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 75px;
  margin-bottom: 20px;

  padding-bottom: 25px;

  overflow-x: auto;

  &__item {
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;

    padding: 10px 32px;
    margin-bottom: 15px;

    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:nth-child(5) {
      @include breakpoint($breakpoint-computer) {
        margin-right: 25%;
      }
    }
  }
}
