.portfolio {
  &__color {
    &--red {
      border-color: #da2e2b;
    }

    &--purple {
      border-color: #9127fc;
    }

    &--pink {
      border-color: #cc1aaa;
    }

    &--orange {
      border-color: #ff4d05;
    }
  }

  &__other {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: $font-size-7;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-8;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-10;
    }
  }
}
