.form {
  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 35px;

    @include breakpoint($breakpoint-computer) {
      margin-top: 30px;
    }
  }

  &__button {
    width: 100%;

    &--send {
      background-color: #ffffff;
    }

    &--error {
      background-position-x: 100%;
    }
  }
}
