.kit-color {
  &__item {
    @include flex($justify: center);
    width: 100%;
    height: 250px;

    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 32px;

    background-color: var(--color-hex);

    @include breakpoint($breakpoint-computer) {
      height: 200px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 150px;
      font-size: $font-size-14;
    }

    @include breakpoint($breakpoint-tablet-large) {
      margin-bottom: 15px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 120px;
      border-radius: 16px;
    }
  }

  &__value {
    text-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.3);
  }
}
