.kit-color {
  display: flex;

  @include breakpoint($breakpoint-tablet-large) {
    flex-wrap: wrap;
  }

  @include breakpoint($breakpoint-mobile-large) {
    justify-content: space-between;
  }

  &__item {
    @include flex($justify: center);
    width: 20%;
    height: 250px;

    border-radius: 32px;

    background-color: var(--color-hex);

    @include breakpoint($breakpoint-computer) {
      height: 200px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 150px;
      font-size: $font-size-14;
    }

    @include breakpoint($breakpoint-tablet-large) {
      width: 25%;
      margin-bottom: 15px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 120px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      border-radius: 16px;
      width: 22%;
    }

    &:not(:nth-child(5n)) {
      margin-right: 40px;

      @include breakpoint($breakpoint-computer) {
        margin-right: 20px;
      }

      @include breakpoint($breakpoint-mobile-large) {
        margin-right: 0;
      }
    }
  }
}
