#kit {
  padding-top: 60px;
}

.kit {
  .row {
    &:not(:last-child) {
      margin-bottom: 200px;

      @include breakpoint($breakpoint-computer) {
        margin-bottom: 140px;
      }
    }
  }

  &__heading {
    margin-bottom: 15px;

    font-size: $font-size-2;
    font-weight: $weight-medium;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-3;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-4;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-5 + 4;
    }
  }

  &__title {
    margin-bottom: 70px;
    font-size: $font-size-5;
    font-weight: $weight-medium;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-6;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-8;
    }

    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 25px;
    }
  }
}
