.kit-font {
  &__item {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__title {
    margin-bottom: 15px;

    color: #b5b5b5;
    font-weight: $weight-black;
    text-transform: uppercase;

    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 25px;
      font-size: $font-size-14;
    }
  }

  &__picture {
  }

  &__image {
    width: 100%;
  }
}
