// Цветовая палитра блоков
$palette-black: #09090A;
$palette-darkgray: #212121;

// Цветовая палитра текста
$text-white: #ffffff;
$text-gray: #848484;
$text-darkgray: #636363;
$text-red: #da2e2b;
$text-black: #000000;
