// Толщина шрифта
$weight-lightest: 100;
$weight-light: 300;
$weight-thin: 400;
$weight-regular: 500;
$weight-medium: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-black: 900;

// Размеры шрифта
$font-size-0: 148px;
$font-size-1: 100px;
$font-size-2: 74px;
$font-size-3: 64px;
$font-size-4: 56px;
$font-size-5: 36px;
$font-size-6: 32px;
$font-size-7: 28px;
$font-size-8: 24px;
$font-size-9: 22px;
$font-size-10: 20px;
$font-size-11: 18px;
$font-size-12: 16px;
$font-size-13: 14px;
$font-size-14: 12px;

// Межстрочные расстояния
$line-height-0: 28px;
$line-height-1: 38px;
