#callback {
  margin-top: 75px;

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 0;
  }

  .section__title {
    br {
      display: none;
    }

    @include breakpoint($breakpoint-tablet-large) {
      font-size: $font-size-5;
      line-height: 50px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-6;
      line-height: 35px;

      br {
        display: unset;
      }
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-8;
      line-height: 26px;
    }
  }
}

.callback {
  max-width: 1260px;
  margin-top: 65px;

  margin-left: auto;
  margin-right: auto;

  @include breakpoint($breakpoint-computer) {
    max-width: 960px;
  }
}
