.project {
  margin-top: 200px;

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 50px;
  }

  &__logo {
    display: flex;
    align-items: center;

    &::after {
      content: "";

      display: block;
      width: 2px;
      height: 32px;

      margin-left: 40px;

      background-color: #2e2e2f;
    }
  }

  &__image {
    width: 70%;

    @include breakpoint($breakpoint-laptop-large) {
      width: 80%;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }
  }
}
