.project {
  margin-top: 200px;


  @include breakpoint($breakpoint-laptop-large) {
    margin-top: 150px;
  }

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 50px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 70%;

    @include breakpoint($breakpoint-laptop-large) {
      width: 80%;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }
  }
}
